body
{

	background-image: url("./img/champ.jpg");

}

section
{
	margin: 0 25px 0 25px;
}

h3
{
	text-align: center;
}

.btn-primary
{
	text-align: center;
}

.navbar-default
{

	background-color: 75D66F;
}

.button
{
	text-align: center;
}

.button1
{
	text-align: center;
	margin-top: 10px;
}

.img-circle
{
	box-shadow: 8px 8px 0px #aaa;
}