@import 'https://fonts.googleapis.com/css?family=Pacifico';

section
{
	margin: 0 25px 0 25px;
}

h3
{
	text-align: center;
}

.btn-primary
{
	text-align: center;
}




.button
{
	text-align: center;
	color: green;
}

.button1
{
	text-align: center;
	margin-top: 10px;

}



@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');
* {
  padding: 0;
  margin: 0;
}

html {
  background-color: #eaf0f2;
}

body {
  background-image: url(http://www.hdnicewallpapers.com/Walls/Big/Nature%20and%20Landscape/Beautiful_Nature_Farm_View_Wallpaper.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-size: 14px;
  font-family: abet sans-serif;
  color: #3b3b3b;
}



p{
	text-align: justify;
}

h1 {
  font-size: 16px;
  font-family: 'Pacifico', cursive;
  font-weight: normal;
  /*text-transform: uppercase;*/
  margin-bottom: 50px;
  padding: 0px;
  color: white;
  text-align: center;
  line-height: 100px;
  font-size: 6.5em;
  letter-spacing: -5px;
  text-shadow: 0px 10px rgba(0, 0, 0, 0.5);;
}

/*#logo h1 {
  line-height: 100px;
  font-size: 6.5em;
  letter-spacing: -5px;
  text-shadow: 0px 10px rgba(0, 0, 0, 0.5);

}*/

.fond_home {
  background-color: rgba(225, 225, 225, 0.7);
  margin: 0 auto;
  padding: 30px 30px;
  /*width: 85%;*/
  overflow: hidden;
}

.navbar-default {
	background-color: rgba(225, 225, 225, 0.85);
  /*background-color: rgba(200, 255, 200, 0.7);*/
}

.thumbnail {
	background-color: rgba(225, 225, 225, 0.7);
  /*background-color: rgba(200, 255, 200, 0.5);**/
}

.button1 
 {
  text-align: center;
  margin-top: 10px;
}

.nom_vache 
{
  text-align: center;
}

.modal1 
{
  text-align: center;
}

.panier 
{
  padding-right: 10px;
}

.cadrec
{
    border-radius: 50px;
    opacity: 0.9;

}

.radiusc
{
    overflow: hidden;
  }
/*#threeColumns #col1 {
  width: 320px;
  float: left;
  margin-right: 85px;
  text-align: justify;
}

#threeColumns #col2 {
  width: 320px;
  float: left;
  margin-right: 85px;
  text-align: justify;
}

#threeColumns #col3 {
  width: 320px;
  float: left;
  text-align: justify;
}*/


/* In our demo, the footers are fixed to the bottom of the page */

footer {
  /*position: fixed;*/*
  bottom: 0;
}

@media (max-height:800px) {
  

  footer {
    position: static;
  }
  header {
    padding-top: 40px;
  }
}



.footer{
  background-color: rgba(17, 17, 17, 0.86);
  /*box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);*/
  /*box-sizing: border-box;*/
  /*width: 100%;*/
  text-align: center;
  /*font: normal 18px sans-serif;*/
  padding: 45px;
  margin-top: 80px;
  font-family: abet sans-serif;
  font-weight: normal;
}

.footer .adress 
{
  color: white;
  font-size: 12px;
  margin: 0;
}

.footer .adress p
{
  text-align: center;
}

.footer .footer-company-name {
  /*color: white;*/
  font-size: 14px;
  margin: 0;
}

.footer .footer-company-name a{
  color: white;
}

.footer .footer-links {
  list-style: none;
  font-weight: bold;
  color: #ffffff;
  /*padding: 35px 0 23px;*/
  margin: 0;
}

.footer .footer-links a {
  display: inline-block;
  text-decoration: none;
  /*color: inherit;**/
  padding-left: 50px;
  color: green;
}


/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {


  .footer {
    padding: 15px;
  }
  .footer .adress {
    font-size: 18px;
  }
  .footer .footer-company-name {
    font-size: 12px;
  }
  .footer .footer-links {
    font-size: 14px;
    padding: 25px 0 20px;
  }
  .footer .footer-links a {
    line-height: 1.8;
  }
}